# Dependencies
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/
build/
**/build/

# Environment variables & secrets
.env
.env.local
.env.*.local
**/server/.env
**/serviceAccountKey.json
serviceAccountKey.json

# System & Editor files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
